Options +FollowSymLinks -Indexes
RewriteEngine On
 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_URI} /api
RewriteRule ^api/(.*)$ api/router.php?route=$1 [L,QSA]

RewriteCond %{REQUEST_URI} /[a-z0-9A-Z-]+$
RewriteRule ([a-z0-9A-Z-]+) interface/index.php?q=$1 

RewriteCond %{REQUEST_URI} /$
RewriteRule ^$ interface/index.php [L]